<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" src="/static/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/jquery-validation/localization/messages_zh.min.js"></script>
    <!-- layer -->
    <script type="text/javascript" src="/static/layer/layer.js"></script>
    <!-- md5.js -->
    <script type="text/javascript" src="/static/js/md5.min.js"></script>
    <!-- common.js -->
    <script type="text/javascript" src="/static/js/common.js"></script>
</head>
<body>

<div class="panel panel-default" >
    <div class="panel-heading">秒杀商品详情</div>
    <div class="panel-body">
        <span id="userTip" th:if="${user eq null}"> 您还没有登录，请登陆后再操作<br/></span>
    </div>
    <table class="table" id="goodslist">
        <tr>
            <td>商品名称</td>
            <td colspan="3" id="goodsName" th:text="${good.goodsName}"></td>
        </tr>
        <tr>
            <td>商品图片</td>
            <td colspan="3"><img id="goodsImg" width="200" height="200" th:src="@{${good.goodsImg}}"/></td>
        </tr>
        <tr>
            <td>秒杀开始时间</td>
            <td id="startTime" th:text="${#dates.format(good.startDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
<!--            <td >-->
<!--                <input type="hidden" id="remainSeconds" />-->
<!--                <span id="seckillTip"></span>-->
<!--            </td>-->
<!--            <td>-->
<!--                <div class="row">-->
<!--                    <div class="form-inline">-->
<!--                        &lt;!&ndash; 验证码是隐藏的，倒计时函数中，发现秒杀开始了才会显示验证码 &ndash;&gt;-->
<!--                        <img id="verifyCodeImg" width="80" height="32"  style="display:none" onclick="refreshVerifyCode()"/>-->
<!--                        <input id="verifyCode"  class="form-control" placeholder="输入验证码(点击图片刷新)" style="display:none"/>-->
<!--                        <button class="btn btn-primary btn-block" type="button" id="buyButton" onclick="getSeckillAddress()">立即秒杀</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <input type="hidden" name="goodsId"  id="goodsId" />-->
<!--            </td>-->
            <td  id="crushTip">
                <input type="hidden" id="remainSecond" th:value="${remainSecond}">
                <span th:if="${crushStatus eq 0}">秒杀倒计时: <span id="countDown" th:text="${remainSecond}"></span>秒</span>
                <span th:if="${crushStatus eq 1}">秒杀进行中</span>
                <span th:if="${crushStatus eq 2}">秒杀已经结束</span>
            </td>
            <td>
                <form id="crushFrom" method="post" action="/crush/doCrush">
                    <button class="btn btn-primary btn-block" type="submit" id="buyButton">立即秒杀</button>
                    <input type="hidden" name="goodId" th:value="${good.id}">
                </form>
            </td>
        </tr>
        <tr>
            <td>商品原价</td>
            <td colspan="3" id="goodsPrice" th:text="${good.goodsPrice}"></td>
        </tr>
        <tr>
            <td>秒杀价</td>
            <td colspan="3"  id="miaoshaPrice" th:text="${good.crushPrice}"></td>
        </tr>
        <tr>
            <td>库存数量</td>
            <td colspan="3"  id="stockCount" th:text="${good.stockCount}"></td>
        </tr>
    </table>
</div>
</body>
<script>
    $(function(){
        countDown();
    });

    function countDown(){
        var remainSeconds = $("#remainSecond").val();
        var timeout;
        if(remainSeconds > 0){//秒杀还没开始，倒计时
            $("#buyButton").attr("disabled", true);
            timeout = setTimeout(function(){
                $("#countDown").text(remainSeconds - 1);
                $("#remainSecond").val(remainSeconds - 1);
                countDown();
            },1000);
        }else if(remainSeconds == 0){//秒杀进行中
            $("#buyButton").attr("disabled", false);
            if(timeout){
                clearTimeout(timeout);
            }
            $("#crushTip").html("秒杀进行中");
        }else{//秒杀已经结束
            $("#buyButton").attr("disabled", true);
            $("#crushTip").html("秒杀已经结束");
        }
    }
</script>
<!--<script>-->

<!--    $(function(){-->
<!--        getDetail();-->
<!--    });-->

<!--    function getDetail(){-->
<!--        var goodsId = g_getQueryString("goodsId");-->
<!--        $.ajax({-->
<!--            url:"/goods/to_detail/"+goodsId,-->
<!--            type:"GET",-->
<!--            success:function(data){-->
<!--                if(data.code == 0){-->
<!--                    render(data.data);-->
<!--                }else{-->
<!--                    layer.msg(data.msg);-->
<!--                }-->
<!--            },-->
<!--            error:function(){-->
<!--                layer.msg("客户端请求有误");-->
<!--            }-->
<!--        });-->
<!--    }-->

<!--    function render(detail){//detail为goodsDetailVo对象-->
<!--        var  remainSeconds = detail.remainSeconds;-->
<!--        var goods = detail.goodsVo;//goodsVo对象-->
<!--        var user = detail.seckillUser;-->
<!--        if(user){-->
<!--            $("#userTip").hide();//有用户信息，就不再提示未登录-->
<!--        }-->
<!--        $("#goodsName").text(goods.goodsName);-->
<!--        $("#goodsImg").attr("src", goods.goodsImg);-->
<!--        $("#startTime").text(new Date(goods.startDate).format("yyyy-MM-dd hh:mm:ss"));-->
<!--        $("#remainSeconds").val(remainSeconds);-->
<!--        $("#goodsId").val(goods.id);-->
<!--        $("#goodsPrice").text(goods.goodsPrice);-->
<!--        $("#miaoshaPrice").text(goods.seckillPrice);-->
<!--        $("#stockCount").text(goods.stockCount);-->
<!--        countDown();-->
<!--    }-->

<!--    function countDown(){-->
<!--        var remainSeconds = $("#remainSeconds").val();-->
<!--        var timeout;-->
<!--        if(remainSeconds > 0){//秒杀还没开始，倒计时-->
<!--            $("#buyButton").attr("disabled", true);//使得秒杀按钮无效-->
<!--            $("#seckillTip").html("秒杀倒计时："+remainSeconds+"秒");-->
<!--            timeout = setTimeout(function(){-->
<!--                $("#countDown").text(remainSeconds - 1);-->
<!--                $("#remainSeconds").val(remainSeconds - 1);-->
<!--                countDown();-->
<!--            },1000);-->
<!--        }-->
<!--        else if(remainSeconds == 0){//秒杀进行中-->
<!--            $("#buyButton").attr("disabled", false);-->
<!--            if(timeout){-->
<!--                clearTimeout(timeout);-->
<!--            }-->
<!--            $("#seckillTip").html("秒杀进行中");-->
<!--            //秒杀进行中才显示图形验证码-->
<!--            $("#verifyCodeImg").attr("src", "/seckill/verifyCode?goodsId="+$("#goodsId").val());//生成验证码，将验证码结果（uid+gid作为key) 存入redis缓存-->
<!--            $("#verifyCodeImg").show();-->
<!--            $("#verifyCode").show();-->
<!--        }-->
<!--        else{//秒杀已经结束-->
<!--            $("#buyButton").attr("disabled", true);-->
<!--            $("#seckillTip").html("秒杀已经结束");-->
<!--            //秒杀结束后，隐藏图形验证码-->
<!--            $("#verifyCodeImg").hide();-->
<!--            $("#verifyCode").hide();-->
<!--        }-->
<!--    }-->

<!--    function getSeckillAddress(){-->
<!--        var goodsId = $("#goodsId").val();-->
<!--        g_showLoading();-->
<!--        $.ajax({-->
<!--            url:"/seckill/address",//请求秒杀地址时需要检查用户输入的验证码是否正确-->
<!--            type:"GET",-->
<!--            data:{-->
<!--                goodsId:goodsId,-->
<!--                verifyCode:$("#verifyCode").val()-->
<!--            },-->
<!--            success:function(data){-->
<!--                if(data.code == 0){-->
<!--                    var seckillAddress = data.data;-->
<!--                    doSeckill(seckillAddress);-->
<!--                }else{-->
<!--                    layer.msg(data.msg);-->
<!--                }-->
<!--            },-->
<!--            error:function(){-->
<!--                layer.msg("客户端请求有误");-->
<!--            }-->
<!--        });-->
<!--    }-->


<!--    function doSeckill(seckillAddress){-->
<!--        $.ajax({-->
<!--            url:"/seckill/" + seckillAddress + "/doSeckill",-->
<!--            type:"POST",-->
<!--            data:{-->
<!--                goodsId:$("#goodsId").val(),-->
<!--            },-->
<!--            success:function(data){-->
<!--                if(data.code == 0){//已提交至rabbitmq-->
<!--                    getSeckillResult($("#goodsId").val());-->
<!--                }else{-->
<!--                    layer.msg(data.msg);-->
<!--                }-->
<!--            },-->
<!--            error:function(){-->
<!--                layer.msg("客户端请求有误");-->
<!--            }-->
<!--        });-->
<!--    }-->

<!--    function getSeckillResult(goodsId){-->
<!--        g_showLoading();-->
<!--        $.ajax({-->
<!--            url:"/seckill/result",-->
<!--            type:"GET",-->
<!--            data:{-->
<!--                goodsId:$("#goodsId").val(),-->
<!--            },-->
<!--            success:function(data){-->
<!--                if(data.code == 0){-->
<!--                    var result = data.data;//秒杀执行结果状态码-->
<!--                    if(result < 0){//result为-1-->
<!--                        layer.msg("对不起，秒杀失败");-->
<!--                    }-->
<!--                    else if(result == 0){//等待中，继续轮询-->
<!--                        setTimeout(function(){-->
<!--                            getSeckillResult(goodsId);-->
<!--                        }, 200);//200 ms后再次轮询-->
<!--                    }-->
<!--                    else{-->
<!--                        layer.confirm("恭喜你，秒杀成功！查看订单？", {btn:["确定","取消"]},-->
<!--                            function(){//点击确定，查看订单详情-->
<!--                                window.location.href="/order_detail.htm?orderId="+result;-->
<!--                            },-->
<!--                            function(){//点击取消-->
<!--                                layer.closeAll();-->
<!--                            });-->
<!--                    }-->
<!--                }-->
<!--                else{-->
<!--                    layer.msg(data.msg);-->
<!--                }-->
<!--            },-->
<!--            error:function(){-->
<!--                layer.msg("客户端请求有误");-->
<!--            }-->
<!--        });-->
<!--    }-->

<!--    //刷新图像验证码-->
<!--    function refreshVerifyCode(){-->
<!--        //浏览器对图片有缓存，需要指定当前时间，才会去刷新-->
<!--        $("#verifyCodeImg").attr("src", "/seckill/verifyCode?goodsId="+$("#goodsId").val()+"&timestamp="+new Date().getTime());-->
<!--    }-->

<!--</script>-->
</html>
